<div id="p_container" [style.pointer-events]="modal_active? 'none' : 'all'">
    @for (p of printers; track $index) {
      <div class="card">
        <h1>{{p.model}}</h1>
        <ul>
          <li>Brand: {{p.brand}}</li>
          <li>Price: {{p.price}}</li>
          <li>Features: {{p.notable_features}}</li>
        </ul>
        <button (click)="delete(p)">delete</button>
        <button (click)="set_edit(p)">edit</button>
      </div>
    }
</div>

<button (click)="set_create()">new</button>

@if (modal_active) {
    <app-fdm-editor [fdmData]="current_printer" (closeModal)="save_modal($event)"></app-fdm-editor>
}

<router-outlet />
